
.player_list {
  margin-top: 20px;
  text-align: center;

  h2 {
    font-size: 1.5em;
    color: #666;
  }

  .player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    gap: 7px;

    &:nth-child(odd) {
      background-color: #f1f1f1;
    }

    button {
      background-color: #dc3545;
      color: white;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.9em;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}
